*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background: #1e1e1e;
}

canvas{
    display: block;
    background: white;
}

.toolBar{
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    padding:15px 25px;
    background: rgba(30,30,30,0.9);
    border-radius:15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    z-index:1000;
}

#colorPicker{
    width: 50px;
    height: 50px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

#brushSize{
    width:150px;
    cursor:pointer;
}

.toolBar button{
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    background:#2f2f2f;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.toolBar button:hover{
    background: #444;
}
.toolBarbutton.active{
    background: #0078ff;
}

.join-screen{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.join-card{
    background: #1f1f1f;
    padding: 30px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
}

.join-card h2{
    color: white;
    text-align: center;
}

.join-card input,
.join-card button{
    padding: 12px;
    border-radius: 10px;
    border: none;
}

.join-card button{
    background: #0078ff;
    color: white;
    cursor: pointer;
}

.chat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 380px;
    background: rgba(30,30,30,0.92);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

.chat-messages{
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    color: white;
    font-size: 14px;
}

.chat-form{
    display:flex;
    gap:8px;
    padding: 10px;
}

.chat-form input{
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.chat-form button{
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background: #0078ff;
    color: white;
    cursor: pointer;
}

.curor{
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}
.cursor-dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
}
.cursor-name{
    background:red ;
    color: white;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 10px;
    margin-top: 3px;
    white-space: nowrap;
}

#cursorsContainer{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}